<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>SRP-B</title>

  <!--Bootstrap CSS-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <!-- Latest compiled and minified CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <!-- Latest compiled JavaScript -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"> </script>


  <!--Fonts - Monserrat-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;900&display=swap" rel="stylesheet">


  <!--Fonts -Ubuntu -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">

  <!--Icons-->
  <script src="https://kit.fontawesome.com/7dee2b22f9.js" crossorigin="anonymous"></script>

  <!-- Local CSS -->
  <link rel="stylesheet" href="../../../static/css/pipeline_css.css">

</head>

<body>
  <section id='Title-intro'>

    <!-- Navigation Bar -->
    <div class="container-fluid">


    <nav class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand brand-title" href="/">SRP - B</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Analysis Pipelines
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <li><a class="dropdown-item" href="../../pipeline/1">Pipeline 1</a></li>
                <li><a class="dropdown-item" href="../../pipeline/2">Pipeline 2</a></li>
              </ul>
            </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink2" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Gene Query
                </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <li><a class="dropdown-item" href="../../pipeline/1/query">Pipeline 1</a></li>
                <li><a class="dropdown-item" href="../../pipeline/2/query">Pipeline 2</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/references">References</a>
            </li>

          </ul>
        </div>
      </nav>

      <!-- Title and introduction -->

      <div class='container-fluid'>
        <h1>Pipeline introduction / methods</h1>
        <p class='Intro'>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sed augue id metus rhoncus gravida at at dolor. Nam id risus ac eros dictum dignissim sit amet vitae sapien. Vivamus eget condimentum nisi. Cras non tincidunt nunc. Ut
          rutrum tempor magna, eu lacinia tellus pellentesque a.
        </p>
      </div>
    </div>

  </section>
  <main>
    <section id='Results'>
      <hr class='middle-break' style='height:20px; margin-top:0;'>
      <h2 class='pipeline-title'> Pipeline {{pipeline_num}} Results</h2>

      <div class='container results'>

        {% for n in range(0,len(figures)) %}
        {% if type(figures[n]) == str %}
        <div class="results-figure">
          <figure class="text-center">
            <img src="{{figures[n][24:]}}" class="figure-img img-fluid">
            <figcaption class="figure-caption">{{figure_legends[n]}}</figcaption>
          </figure>
          <p class="figure-paragraph text-centre">{{figure_paragraphs[n]}}</p>
        </div>
        {% elif type(figures[n]) == list %}
          <figure class="text-center">
            <div class="row">
              <div class="col-md-6">
                <img src="{{figures[n][0][24:]}}" class="figure-img" style="width: 70%">
              </div>
              <div class="col-md-6">
                <img src="{{figures[n][1][24:]}}" class="figure-img" style="width: 70%">
              </div>
            </div>
            <figcaption class="figure-caption text-centre">{{figure_legends[n]}}</figcaption>
            <p class="figure-paragraph text-centre">{{figure_paragraphs[n]}}</p>
          </figure>
        {% endif %}
        {% endfor %}
      </div>
    </section>
  </main>


 <footer id='footer' class='footer mt auto py-3'>
      <p class='footer-text'>
        footer
      </p>
    </footer>

</body>

</html>
